html {
    font-size: 16px;
    position: relative;
    top: 2rem;
    font-family: 'Raleway', sans-serif;
    background-image: url('/resources/images/background.jpg');
    background-position: center;
    background-size: cover;
}

.sharp {
    content: url('/resources/images/sharp-whole.png');
    height: 26px;
    width: 40px;
}

.sharp-line {
    content: url('/resources/images/sharp-whole-line.png');
    height: 26px;
    width: 40px;
}

.flat {
    content: url('/resources/images/flat-whole.png');
    height: 26px;
    width: 40px;
}

.flat-line {
    content: url('/resources/images/flat-whole-line.png');
    height: 26px;
    width: 40px;
}

.double-flat {
    content: url('/resources/images/double-flat.png');
    height: 26px;
    width: 40px;
}

.double-flat {
    content: url('/resources/images/double-flat-line.png');
    height: 26px;
    width: 40px;
}

.natural {
    content: url('/resources/images/whole-note.png');
    height: 15px;
    width: 25px;
}

.natural-line {
    content: url('/resources/images/whole-note-line.png');
    height: 15px;
    width: 25px;
}

.flat-sig {
    content: url('/resources/images/flat.png');
    height: 20px;
    width: 15px;
}

.sharp-sig {
    content: url('/resources/images/music_sharp_sign.png');
    height: 25px;
    width: 25px;
}


#bigger-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    margin: 0 1rem;
    position: relative;
    top: 6rem;
}


#fretboard-container {
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
    margin: 2rem 0 1rem;
    border-radius: 2px;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
}

#keyboard-container {
    position: relative;
    margin: 1rem 0 1rem;
    padding: 1rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: column;
}

#staff-container {
    margin: 1rem 0;
    padding: 1rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: column;
}

.dropdown-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.dropdown-container > button {
    text-decoration: underline;
}

#grid-container {
    display: inline-grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#fret-key-container {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#keyboard-grid-container {
    display: inline-grid;
    width: 0;
    height: 0;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#staff-grid-container {
    display: inline-grid;
    grid-template-columns: 3.5rem repeat(7, 1.5rem) repeat(7, 1fr);
    grid-template-rows: 1fr 0.55rem 0.55rem 0.5rem 0.4rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.5rem 0.5rem 0.5rem 0.5rem 0.55rem 0.55rem 1fr;
    width: 0;
    height: 0;
    background-size: 632px 175px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#fret-button-container {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2.5rem;
    max-height: 0;
    overflow: hidden;
}

#key-button-container {
    display: inline-flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
}

#staff-button-container {
    display: inline-flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 0;
}

i {
    margin: 0.5rem;
}

button.dropdown-button {
    vertical-align: center;
    display: inline-flex;
    align-items: center;
}

.container-title {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: hsla(44, 68%, 94%, 0.9);
    padding-bottom: 2rem;
    text-decoration: underline;
}

.fa-solid {
    color: hsla(44, 68%, 94%, 0.9);
    padding-bottom: 0.5rem;
}

#fretboard-dropdown,
#keyboard-dropdown,
#staff-dropdown {
    padding-bottom: 0;
    margin-bottom: 0;
}


.dropdown-button:hover,
.show-note:hover,
.selected-note:hover {
    cursor: pointer;
}

.root {
    background-color: hsla(171, 17%, 60%, 0.8);
    border-radius: 10px;
}

.fret-button, .key-button, .staff-button {
    background-color: hsla(23, 56%, 61%, 0.9);
    color: hsla(44, 68%, 94%, 1);
    font-size: 1rem;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(23, 56%, 50%, 0.9);
    margin: 0 0.3rem;
    margin-bottom: 1rem;
    font-family: 'Righteous', sans-serif;
}



.dropdown-button {
    background-color: transparent;
    color: hsla(44, 68%, 94%, 0.9);
    border: none;
    font-size: 1rem;
    font-family: 'Righteous', sans-serif;
    width: 5rem;
    display: inline-flex;
}


#fret-scale-container, #fret-mode-container, #key-scale-container, #key-mode-container, #staff-scale-container, #staff-mode-container {
    display: none;
}

.staff-clef {
    margin-top: 0.5rem;
}

.key-button:hover,
.staff-button:hover,
.fret-button:hover {
    background-color: hsla(23, 56%, 70%, 0.8);
    border-color: hsla(23, 56%, 59%, 0.8);
}

.key-button:active,
.staff-button:active,
.fret-button:active {
    background-color: hsla(23, 56%, 50%, 0.9);
}

.chord-container-name {
    padding-right: 0.5rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
    border: none;
}


#button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: hsla(171, 47%, 15%, 0.8);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
    padding: 2rem;
    height: auto;
    position: fixed;
    z-index: 11;
}

.note-button {
    background-color: hsla(23, 56%, 61%, 0.9);
    color: hsla(44, 68%, 94%, 1);
    font-size: 1rem;
    width: 3rem;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(23, 56%, 50%, 0.9);
    margin: 0 0.3rem;
    font-family: 'Righteous', sans-serif;
}

.note-button:hover {
    background-color: hsla(23, 56%, 70%, 0.8);
    border-color: hsla(23, 56%, 59%, 0.8);
}

.note-button:active {
    background-color: hsla(23, 56%, 50%, 0.9);
}

#grid-container p {
    z-index: 11;
}

#grid-container {
    z-index: 4;
}

.note {
    height: 0px;
    width: 0px;
}

.show-note {
    background-color: hsla(23, 56%, 61%, 1);
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.selected-note {
    background-color: hsla(171, 47%, 25%, 1);
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

