html {
    font-size: 16px;
    position: relative;
    top: 2rem;
    font-family: 'Raleway', sans-serif;
    background-image: url('/resources/images/background.jpg');
    background-position: center;
    background-size: cover;
}

.sharp {
    content: url('/resources/images/sharp-whole.png');
    height: 26px;
    width: 40px;
}

.sharp-line {
    content: url('/resources/images/sharp-whole-line.png');
    height: 26px;
    width: 40px;
}

.flat {
    content: url('/resources/images/flat-whole.png');
    height: 26px;
    width: 40px;
}

.flat-line {
    content: url('/resources/images/flat-whole-line.png');
    height: 26px;
    width: 40px;
}

.double-flat {
    content: url('/resources/images/double-flat.png');
    height: 26px;
    width: 40px;
}

.double-flat {
    content: url('/resources/images/double-flat-line.png');
    height: 26px;
    width: 40px;
}

.natural {
    content: url('/resources/images/whole-note.png');
    height: 15px;
    width: 25px;
}

.natural-line {
    content: url('/resources/images/whole-note-line.png');
    height: 15px;
    width: 25px;
}

.flat-sig {
    content: url('/resources/images/flat.png');
    height: 20px;
    width: 15px;
}

.sharp-sig {
    content: url('/resources/images/music_sharp_sign.png');
    height: 25px;
    width: 25px;
}



/*button shit*/



#button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: hsla(171, 47%, 15%, 0.8);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
    padding: 2rem;
    height: auto;
    position: fixed;
    z-index: 11;
}

.note-button {
    background-color: hsla(23, 56%, 61%, 0.9);
    color: hsla(44, 68%, 94%, 1);
    font-size: 1rem;
    width: 3rem;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(23, 56%, 50%, 0.9);
    margin: 0 0.3rem;
    font-family: 'Righteous', sans-serif;
}

.note-button:hover {
    background-color: hsla(23, 56%, 70%, 0.8);
    border-color: hsla(23, 56%, 59%, 0.8);
}

.note-button:active {
    background-color: hsla(23, 56%, 50%, 0.9);
}

/*containers*/

.container {
    display: none;
}

#bigger-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    margin: 0 1rem;
    position: relative;
    top: 6rem;
}

#big-container {
    display: inline-flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem;
    width: 25%;
}

#fretboard-container {
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
    margin: 2rem 0 1rem;
    border-radius: 2px;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
}

#keyboard-container {
    position: relative;
    margin: 1rem 0 1rem;
    padding: 1rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: column;
}

#staff-container {
    margin: 1rem 0;
    padding: 1rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: column;
}

#scales-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem 2rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    border-radius: 2px;
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
    width: 80%;
}

#modes-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(171, 47%, 15%, 0.6);
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    padding: 1rem;
}

#chords-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background-color: hsla(171, 47%, 15%, 0.6);
    border-radius: 2px;
    box-shadow: inset 0 0 2000px rgba(255 255 255 0.5);
    backdrop-filter: blur(5px);
}

.chord-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0;
}

.chord-container>p {
    color: hsla(251, 19%, 15%, 0.9);
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.scale-container {
    display: inline-flex;
    justify-content: center;
    margin: 0.8rem 0;
}

.scale-container>p {
    color: hsla(171, 17%, 20%, 1);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.scale-container>p:hover {
    cursor: pointer;
}

.mode-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0.8rem 0;
}

.mode-container>p {
    color: hsla(27, 28%, 15%, 0.9);
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.dropdown-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.dropdown-container > button {
    text-decoration: underline;
}

.chord-container-name {
    padding-right: 0.5rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
    border: none;
}

#grid-container {
    display: inline-grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#fret-key-container {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#keyboard-grid-container {
    display: inline-grid;
    width: 0;
    height: 0;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#staff-grid-container {
    display: inline-grid;
    grid-template-columns: 3.5rem repeat(7, 1.5rem) repeat(7, 1fr);
    grid-template-rows: 1fr 0.55rem 0.55rem 0.5rem 0.4rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.5rem 0.5rem 0.5rem 0.5rem 0.55rem 0.55rem 1fr;
    width: 0;
    height: 0;
    background-size: 632px 175px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#fret-button-container {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2.5rem;
    max-height: 0;
    overflow: hidden;
}

#key-button-container {
    display: inline-flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
}

#staff-button-container {
    display: inline-flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 0;
}


/* #region  dropdowns */

.chord-container-name:hover {
    cursor: pointer;
}

#seventh-chords-container {
    display: none;
}


#sixth-chords-container {
    display: none;
}

#ninth-chords-container {
    display: none;
}

#sus-chords-container {
    display: none;
}

#other-chords-container {
    display: none;
}

#minor-scale-container {
    display: none;
}

#pentatonic-scale-container {
    display: none;
}

#misc-scale-container {
    display: none;
}

#modes-dropdown-container {
    display: none;
}

/* #endregion */

/*Styling text in containers*/

i {
    margin: 0.5rem;
}

button.dropdown-button {
    vertical-align: center;
    display: inline-flex;
    align-items: center;
}

.container-title {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: hsla(44, 68%, 94%, 0.9);
    padding-bottom: 2rem;
    text-decoration: underline;
}

.scale-name {
    color: hsla(44, 68%, 94%, 0.9);
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

button.scale-name:hover {
   cursor: pointer;
   color: hsla(44, 68%, 74%, 0.9);
}

.fa-solid {
    color: hsla(44, 68%, 94%, 0.9);
    padding-bottom: 0.5rem;
}


.chord-name {
    color: hsla(44, 68%, 94%, 0.9);
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

#mode-title {
    padding: 0;
    margin: 0;
}

#fretboard-dropdown,
#keyboard-dropdown,
#staff-dropdown {
    padding-bottom: 0;
    margin-bottom: 0;
}


.note {
    background-color: hsla(23, 56%, 61%, 0.8);
    border-radius: 10px;
}

.note:hover {
    cursor: pointer;
}

#modes-dropdown-container > p:hover, 
#minor-scale-container > p:hover,
#pentatonic-scale-container > p:hover,
#misc-scale-container > p:hover {
    cursor: pointer;
}

.root {
    background-color: hsla(171, 17%, 60%, 0.8);
    border-radius: 10px;
}

.root:hover {
    cursor: pointer;
}

.displayed-notes {
    padding: 0.1rem;
    font-weight: bold;
}

#major-scale-title {
    margin-bottom: 0;
}

#minor-scale-container  p  {
    text-align: center;
}

#modes-dropdown-container > p {
    text-align: center;
}

.fret-button, .key-button, .staff-button {
    background-color: hsla(23, 56%, 61%, 0.9);
    color: hsla(44, 68%, 94%, 1);
    font-size: 1rem;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(23, 56%, 50%, 0.9);
    margin: 0 0.3rem;
    margin-bottom: 1rem;
    font-family: 'Righteous', sans-serif;
}

.dropdown-button:hover {
    cursor: pointer;
}


.dropdown-button {
    background-color: transparent;
    color: hsla(44, 68%, 94%, 0.9);
    border: none;
    font-size: 1rem;
    font-family: 'Righteous', sans-serif;
    width: 5rem;
    display: inline-flex;
}


#fret-scale-container, #fret-mode-container, #key-scale-container, #key-mode-container, #staff-scale-container, #staff-mode-container {
    display: none;
}

.staff-clef {
    margin-top: 0.5rem;
}

.key-button:hover,
.staff-button:hover,
.fret-button:hover {
    background-color: hsla(23, 56%, 70%, 0.8);
    border-color: hsla(23, 56%, 59%, 0.8);
}

.key-button:active,
.staff-button:active,
.fret-button:active {
    background-color: hsla(23, 56%, 50%, 0.9);
}