html {
    font-size: 16px;
    position: relative;
    top: 2rem;
    font-family: 'Raleway', sans-serif;
    background-color: hsla(44, 68%, 94%, 1);
}

/*button shit*/


#button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: hsla(171, 17%, 30%, 1);
    padding: 2rem;
    height: auto;
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: hsla(171, 17%, 20%, 1);
}

.note-button {
    background-color: hsla(23, 56%, 61%, 0.9);
    color: hsla(44, 68%, 94%, 1);
    font-size: 1rem;
    width: 3rem;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(23, 56%, 50%, 0.9);
    margin: 0 0.3rem;
    font-family: 'Righteous', sans-serif;
}

.note-button:hover {
    background-color: hsla(23, 56%, 70%, 0.8);
    border-color: hsla(23, 56%, 59%, 0.8);
}

.note-button:active {
    background-color: hsla(23, 56%, 50%, 0.9);
}

/*containers*/

.container {
    display: none;
}

#bigger-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    margin: 0 1rem;
}

#big-container {
    display: inline-flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem;
    width: 25%;
}

#fretboard-container {
    background-color: hsla(212, 64%, 12%, 0.9);
    position: relative;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px;
    display: inline-flex;
    flex-direction: column;
}

#keyboard-container {
    position: relative;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px;
    display: inline-flex;
    flex-direction: column;
    background-color: hsla(0, 96%, 10%, 0.9);
}

#scales-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(165, 26%, 13%, 0.9);
    padding: 2rem;
    margin: 2rem 2rem;
    box-shadow: 2px 2px 2px 1px;
    border-radius: 2px;
    width: 80%;
}

#modes-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(27, 28%, 15%, 0.9);
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px;
    border-radius: 2px;
}

#chords-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 2px 2px 2px 1px;
    border-radius: 2px;
    background-color: hsla(251, 19%, 15%, 0.9);
}

.chord-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.chord-container>p {
    color: hsla(44, 68%, 94%, 1);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.scale-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.scale-container>p {
    color: hsla(44, 68%, 94%, 1);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.scale-container>p:hover {
    cursor: pointer;
}

.mode-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mode-container>p {
    color: hsla(44, 68%, 94%, 1);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.dropdown-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.chord-container-name {
    padding-right: 0.5rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
    border: none;
}

#grid-container {
    display: inline-grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#fret-key-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#keyboard-grid-container {
    display: inline-grid;
    width: 0;
    height: 0;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


/* #region  dropdowns */

.chord-container-name:hover {
    cursor: pointer;
}

#seventh-chords-container {
    display: none;
}


#sixth-chords-container {
    display: none;
}

#ninth-chords-container {
    display: none;
}

#sus-chords-container {
    display: none;
}

#other-chords-container {
    display: none;
}

#minor-scale-container {
    display: none;
}

#pentatonic-scale-container {
    display: none;
}

#misc-scale-container {
    display: none;
}

#modes-dropdown-container {
    display: none;
}

/* #endregion */

/*Styling text in containers*/

.container-title {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: hsla(44, 68%, 94%, 1);
    padding-bottom: 2rem;
    text-decoration: underline;
}

.scale-name {
    color: hsla(44, 68%, 94%, 1);
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.fa-solid {
    color: hsla(44, 68%, 94%, 1);
    padding-bottom: 0.5rem;
}


.chord-name {
    color: hsla(44, 68%, 94%, 1);
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

#mode-title {
    padding: 0;
    margin: 0;
}

#fretboard-dropdown,
#keyboard-dropdown {
    padding-bottom: 0;
    margin-bottom: 0;
}


.note {
    background-color: hsla(23, 56%, 61%, 0.9);
    border-radius: 10px;
}

#modes-dropdown-container > p:hover, 
#minor-scale-container > p:hover,
#pentatonic-scale-container > p:hover,
#misc-scale-container > p:hover {
    cursor: pointer;
}

.root {
    background-color: hsla(171, 17%, 60%, 1);
    border-radius: 10px;
}

.displayed-notes {
    padding: 0.1rem;
    font-weight: bold;
}